.boxWrap{
    // background: skyblue;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99999;
    background: white;
    // visibility: hidden;
    // &.view{
    //     opacity: 1;
    //     visibility: visible;
    // }

    .bar{
        width: 35px;
        height: 4px;
        background: rgb(255, 0, 43);
        position: absolute;
        border-radius: 2px;
        &.start{
            transform: translateY(-10px);
            transition: 0.3s;
        }
        &.end{
            transform: translateY(10px);
            transition: 0.3s;
        }
    }

// boxWrap의 바로 뒤 (&) 형제선택?
    &.active{   // .boxWrap.active
        .bar{   // .boxWrap.active .bar .start
            &.start{transform: translateY(0) rotate(45deg)}
            &.middle{opacity: 0;}
            &.end{transform: translateY(0) rotate(-45deg)}
        }
    }
}

.bgWrap{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    &.view{
        opacity: 1;
    }
    .box{
        width: 500px;
        height: 500px;

        background: gold;
        position: absolute;
        left: 50%;
        top: 50%;
    }
}